.headerDivider{
    width: 1px;
    height: 26px;
}
.profilePic{
    width: 32px;
    height: 32px;
}
.text-blue-500{
    --tw-text-opacity: 1;
    color: #0073E6;
}
.text-gray-600{
    color: #475467;
}
.text-sm{
    font-size: 13px;
}
.text-lg{
    font-size: 16px;
}
.rightPanel-scroll{
    height: 560px;
    overflow: hidden;
    overflow-y: scroll;
}
/* Scrollbar styles */
.rightPanel-scroll::-webkit-scrollbar {
  width: 0px;
}
/* .rightPanel-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.rightPanel-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}
.rightPanel-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.pb-0{
    padding-bottom: 0px !important;
}





